<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
 <button class="btn btn-outline-info buttn">View Profile <span style="color: rgb(0, 0, 0);"><i class="fa-2x fa-regular fa-user"></i></span></button>
   <button class="btn btn-outline-info buttn">Balance Enquiry <span><i style="color: rgb(0, 0, 0);" class="fa-2x fa-solid fa-money-bill"></i></span></button>
   <button class="btn btn-outline-info buttn">Money Transfer <span style="color: rgb(0, 0, 0);"><i class="fa-2x fa-regular fa-money-bill-transfer"></i></span></button>
  <button class="btn btn-outline-info buttn">Account Statement<span class="ms-1" style="color: rgb(0, 0, 0);"><i class="fa-2x fa-sharp fa-solid fa-file-invoice "></i></span></button>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
  <button class="btn btn-outline-info buttn1">Logout <span style="color: rgb(0, 0, 0);"><i class="fa-2x fa-solid fa-right-from-bracket"></i></span></button>
  <button class="btn btn-outline-info buttn1">Delete Account <span style="color: rgb(0, 0, 0);"><i class="fa-2x fa-sharp fa-solid fa-trash"></i></span></button>
  <button class="btn btn-outline-info buttn2"><span style="color: rgb(0, 0, 0);"><i class="fa-3x fa-solid fa-building-columns"></i></span></button>

</div>
<div class="container col-lg-8">
<h1 class="mt-3 p-2" id="e1">Enjoy Net Banking with Enterprise</h1>
<p id="t1" class="mt-3 p-2">Enterprise Bank is a reputable financial institution that prides itself on providing comprehensive banking solutions to individuals, businesses, and organizations. With a strong commitment to customer satisfaction and a focus on innovation, Enterprise Bank has established itself as a trusted partner for all banking needs. <br><br>
  
  For personal banking, Enterprise Bank provides a range of checking and savings accounts, loans, mortgages, and credit cards. Customers can conveniently manage their accounts through online and mobile banking platforms, ensuring easy access and seamless transactions. The bank's priority is to offer personalized attention, assisting customers in achieving their financial goals and providing guidance for important life decisions. <br><br>

  Enterprise Bank recognizes the importance of supporting local businesses and entrepreneurs. With tailored solutions for business banking, the bank offers a suite of products including business checking and savings accounts, lines of credit, equipment financing, and merchant services. By understanding the unique challenges faced by businesses, Enterprise Bank aims to foster growth and success within the community. 

  Investment services at Enterprise Bank provide customers with expert advice and strategies to grow their wealth and secure their financial future. Through partnerships with experienced investment advisors, the bank offers a range of investment options such as mutual funds, retirement plans, and portfolio management services. The bank's goal is to assist clients in achieving their long-term financial objectives while minimizing risk. <br> <br>
  


</p>
  <div class="row justify-content-center">
    <div class="">
      <div id="img1">
        <img src="https://i.postimg.cc/L5Gcfn2K/2107-q702-027-S-m005-c10-queue-atm.jpg" alt="" style="width: 100%; height: auto; object-fit: cover;">
      </div>
    </div>
  </div>
</div>
